body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #f0f0f0;
    text-align: center;

    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: rgba(0, 0, 0, 1);
}

h2 {
    color: rgba(0, 0, 0, .8);
}

h3 {
    color: rgba(0, 0, 0, .6);
    margin: 0;
}

h6 {
    color: rgba(0, 0, 0, .5);
}

p {
    color: rgba(0, 0, 0, .4);
    margin: 5px 0;
}

input {
    background: #206a5d;
    color: white;
    border: none;

    padding: 10px;
}

input::placeholder {
    color: white;
}

button {
    background: #81b214;
    color: white;
    border: none;

    padding: 7.5px;
}

#panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#student {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    width: 95vw;
}

#studentText, #studentImage {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    text-align: left;
}

#studentText {
    align-items: flex-start;
}

#studentImage {
    align-items: flex-end;
}

#studentImage img {
    border-radius: 15px;
    width: 25%;
}

#today {
    text-align: left;
    overflow: hidden;

    width: 100vw;
}

#today h1 {
    color: rgba(0, 0, 0, .8);
    font-size: 20px;

    margin: 5px 15px;
}

#lessons {
    display: flex;

    overflow-x: auto;
    overflow-y: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
}

#lessons::-webkit-scrollbar {
    display: none;
}

#lesson {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 250px;
    min-height: 100px;
    max-width: 250px;
    max-height: 100px;
    margin: 0 15px;
}

#lesson h1 {
    color: white;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .2);
    font-size: 15px;
}

#lesson h2 {
    color: whitesmoke;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .2);
    font-size: 10px;
}

#lesson p {
    font-size: 10px;
}

#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 95vw;
}